html{
    font-size: 20px;
    text-align: center;
}
/* P {
    border: solid 3px pink;
} */
body{
    font-family: "Arial", "Meiryo", sans-serif;
}
h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: 3px solid rgb(115, 115, 114);
}
.skyblue{
    color: skyblue;
}
.pink{
    color: rgb(255, 192, 203);
}
.secondry{
    color: rgb(255, 192, 203);
}
.tertiary{
    color: skyblue; 
}
.basic{
    font-weight: bold;
}

/* h3{
    color:skyblue;
}
h4{
    color: pink;
}
h5{
    color: pink;
}

h6{
    color: pink;
}
h7{
    color: skyblue;
} */